{% extends 'core/base.html' %}
{% load static %}
{% block title %} <title>about</title> {% endblock title %}
{% block content %}
        <div class="container">
            <h1 class="text-warning border-bottom border-warning all_page_heading">Services</h1>
            <!-- row one -->
            <div class="row service_row">
                <div class="col-sm-4 ">
                    <div class="text-center"> 
                        <i class="fab fa-internet-explorer fa-2x icon"></i>
                        <h3 class=" text-warning">SEO</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, doloribus!</p>
                        
                    </div>
                </div>

                <div class="col-sm-4 ">
                    <div class="text-center"> 
                        <i class="fab fa-internet-explorer fa-2x icon"></i>
                        <h3 class="margin-top-20 text-warning">Web Development</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, doloribus!</p>
                        
                    </div>
                </div>

                <div class="col-sm-4 ">
                    <div class="text-center"> 
                        <i class="fab fa-internet-explorer fa-2x icon"></i>
                        <h3 class="margin-top-20 text-warning">Web Design</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, doloribus!</p>
                        
                    </div>
                </div>
            </div>
            <!-- end row one -->

            <!-- row two -->
            <div class="row service_row">
                <div class="col-sm-4 ">
                    <div class="text-center"> 
                        <i class="fab fa-internet-explorer fa-2x icon"></i>
                        <h3 class=" text-warning">Android Development</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, doloribus!</p>
                        
                    </div>
                </div>

                <div class="col-sm-4 ">
                    <div class="text-center"> 
                        <i class="fab fa-internet-explorer fa-2x icon"></i>
                        <h3 class="margin-top-20 text-warning">Hosting </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, doloribus!</p>
                        
                    </div>
                </div>

                <div class="col-sm-4 ">
                    <div class="text-center"> 
                        <i class="fab fa-internet-explorer fa-2x icon"></i>
                        <h3 class=" text-warning">UI Development</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, doloribus!</p>
                        
                    </div>
                </div>
            </div>
            <!-- end row two -->

            <!-- row three -->
            <div class="row service_row">
                <div class="col-sm-4 ">
                    <div class="text-center"> 
                        <i class="fab fa-internet-explorer fa-2x icon"></i>
                        <h3 class=" text-warning">Web Development</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, doloribus!</p>
                        
                    </div>
                </div>

                <div class="col-sm-4 ">
                    <div class="text-center"> 
                        <i class="fab fa-internet-explorer fa-2x icon"></i>
                        <h3 class="margin-top-20 text-warning">24/7</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, doloribus!</p>
                        
                    </div>
                </div>

                <div class="col-sm-4 ">
                    <div class="text-center"> 
                        <i class="fab fa-internet-explorer fa-2x icon"></i>
                        <h3 class="margin-top-20 text-warning">Game Development</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, doloribus!</p>
                        
                    </div>
                </div>
            </div>
            <!-- end row three -->

        </div>
{% endblock content %}
